// nextflow.config

process.executor = 'slurm'

//cleanup after successful run
cleanup = false

//default output folder, could be changed with -output-dir XXX
outputDir = 'lumos_out'

workflow {
    output {
        mode = 'link'   //use hard links for final results
    }
}

timeline {
  enabled = true
  file    = "work/pipeline.timeline.html"
}

report {
  enabled = true
  file    = "work/pipeline.report.html"
}

trace {
  enabled   = true
  file      = "work/pipeline.trace.txt"
  fields    = 'task_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,peak_vmem,rss,vmem'
}

conda {
  enabled       = true
  useMamba      = true
  cacheDir      = "/data/$USER/.nxf-conda"

}
singularity {
    enabled = true
    autoPullMode = true
    autoMounts = true
    cacheDir = "/data/$USER/nxf_singularity_cache"
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH,MPLCONFIGDIR'
    pullTimeout = '30 min'
}

//Fail on any error in bash script
process.shell = ['/bin/bash', '-euo', 'pipefail']

profiles {
    slurm {
        executor {
            name = 'slurm'
            queue = 'norm'
            pollInterval = '2min'
            queueStatInterval = '5min'
            submitRateLimit = '6/1min'
            retry.maxAttempts = 1
                }
            }
}
